body {
    background-image: url(../media/water.jpg); 
}

/* Content Body */ 
.main-div {
    width: 60%; 
    height: 425px;
    margin: auto;
    margin-top: 110px;  
    background-image: url("../media/transparent.jpg");
    background-repeat: no-repeat; 
    background-size: 100% 100%;  
    border-radius: 25px; 
    
}

/* Header */
.header {
    text-align: center; 
    width: 80%; 
    margin: auto; 
    height: 40px;
    border-bottom: 1px  rgb(15, 15, 49) solid; 
    line-height: 40px;  
    font-size: 24px; 
    
}

/*Bio */
.about-me{ 
    font-size: 14px; 
    width: 80%; 
    margin: auto;  
    margin-top: 15px; 
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: space-between; 
    
}

.bio {
    width: 70%; 
    height: 200px; 
    margin-top: 20px; 
    margin-left: 13px; 
    font-size: 13px; 
}

/*Pic and Links*/
.pic-links{
    display: flex; 
    flex-direction: row; 

}

/*Profile Pic */
.profile-pic {
    width: 180px;
    height: 210px;
    display: block; 
    margin-top: 20px;
    border: 1px solid rgb(15, 15, 49); 
    
}

/* Links */
.links{
    list-style-type: none; 
    display: flex; 
    

}

a {
    text-decoration: none;
}

.links-div {
    display: flex; 
    flex-direction: row; 
    margin-top: 94px; 
    position: relative; 
}

li {
    margin-right: 35px; 
}

.linkin {
    color: rgb(14, 14, 151); 
}

.git-it {
    color: rgb(163, 52, 52); 
}

.emailz {
    color: rgb(46, 162, 216); 
}

/*Buttons */
.button-style {
    background: transparent;
    border: none;   
    font-weight: bold; 
    color: grey;
    position: absolute;
    right: 8px; 
    bottom: 8px; 
    font-size: 18px; 

}


@media screen and (max-width: 800px){

    .about-me{ 
        font-size: 14px; 
        width: 80%; 
        align-items: center; 
        margin-top: 15px; 
        display: flex; 
        flex-direction: column-reverse; 
        justify-content: space-evenly; 
        
    }

    .main-div {
        width: 50%; 
        height: 625px;
        margin: auto;  
        
    }

    .bio {
        width: 80%; 
        height: 150px; 
        margin-top: 20px; 
    }

    .links-div {
        margin-top: 113px; 
        
    }

    li {
        margin-right: 10px; 
    }

}