html {
    background-image: url(../media/WATER-2.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 600px; 
}

@keyframes fadeInUp {
    from {
        opacity: 0; 
        -webkit-transform: translate3d(0, 100%, 0); 
        transfrom: translate3d(0, 100%, 0); 
    }

    to {
        opacity: 1; 
        -webkit-transform: none; 
        transform: none; 
    }
}

/* Content Body */ 
.main-div {
    width: 80%; 
    height: 475px;
    margin: auto;
    margin-top: 80px;  
    background-image: url("../media/transparent2.jpg");
    background-repeat: no-repeat; 
    background-size: 100% 100%;  
    border-radius: 25px; 
    opacity: 0; 
    animation: fadeInUp 1s ease-in-out 0s forwards; 
    animation-delay: 1s; 
 
    
}

/* Header */
.header {
    text-align: center; 
    width: 80%; 
    margin: auto; 
    height: 40px;
    border-bottom: 1px  rgb(15, 15, 49) solid; 
    line-height: 40px;  
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif; 
    
}

/*Bio */
.about-me{ 
    font-size: 14px; 
    width: 90%; 
    margin: auto;  
    margin-top: 15px; 
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: space-between; 
    font-family: Arial, Helvetica, sans-serif; 
    
}

.bio {
    width: 40%; 
    height: 300px; 
    margin-top: 50px; 
    margin-left: 13px; 
    font-size: 13px; 
}

/*languages */
.languages {
    width: 10%; 
    height: 335px;
    display: flex; 
    flex-direction: column; 
    font-size: 44px;
    margin-left: 15px;
    justify-content: space-between;
   
}

.languages2 {
    width: 10%; 
    height: 335px;
    display: flex; 
    flex-direction: column; 
    font-size: 44px;
    margin-left: 15px; 
    justify-content: space-evenly;
}

.languages3 {
    width: 10%; 
    height: 335px;
    display: flex; 
    flex-direction: column; 
    font-size: 44px;
    margin-left: 40px; 
    justify-content: space-between;
}

.lang:hover{
    font-size: 60px; 
}

/*Pic and Links*/
.pic-links{
    display: flex; 
    flex-direction: row; 

}

/*Profile Pic */
.profile-pic {
    width: 220px;
    height: 265px;
    display: block; 
    margin-top: 20px;
    border: 1px solid rgb(15, 15, 49); 
    
}

/* Links */
.links{
    list-style-type: none; 
    display: flex; 
}

.home-btn:hover {
    font-size: 30px; 
    color: black; 
}

a {
    text-decoration: none;
    color: black; 
}

.linkz:hover{
    color: goldenrod;  
}


a:visited {
    text-decoration: none;
}

.links-div {
    display: flex; 
    flex-direction: row; 
    margin-top: 14px; 
    position: relative; 
    text-decoration: none;
}

li {
    margin-right: 35px; 
}

.linkin {
    color: rgb(14, 14, 151); 
}

.git-it {
    color: rgb(163, 52, 52); 
}

.emailz {
    color: rgb(46, 162, 216); 
}

/*Buttons */
.button-style {
    background: transparent;
    border: none;   
    font-weight: bold; 
    color: grey;
    position: absolute;
    right: 8px; 
    bottom: 8px; 
    font-size: 18px; 

}


@media screen and (max-width: 800px){

    .about-me{ 
        font-size: 14px; 
        width: 80%; 
        align-items: center; 
        margin-top: 15px; 
        display: flex; 
        flex-direction: column-reverse; 
        justify-content: space-evenly; 
        
    }

    .main-div {
        width: 50%; 
        height: 625px;
        margin: auto;  
        
    }

    .bio {
        width: 80%; 
        height: 150px; 
        margin-top: 20px; 
    }

    .links-div {
        margin-top: 113px; 
        
    }

    li {
        margin-right: 10px; 
    }

}