html {
    background-image: url(../media/WATER-2.jpg); 
    background-repeat: no-repeat;
    background-size: 100% 600px;   
}

@keyframes fadeInUp {
    from {
        opacity: 0; 
        -webkit-transform: translate3d(0, 100%, 0); 
        transfrom: translate3d(0, 100%, 0); 
    }

    to {
        opacity: 1; 
        -webkit-transform: none; 
        transform: none; 
    }
}

/* Content Body */
.main-div {
    width: 60%; 
    height: 400px; 
    margin: auto;
    margin-top: 80px; 
    background-image: url("../media/transparent.jpg");
    background-repeat: no-repeat; 
    background-size: 100% 100%;  
    border-radius: 25px; 
    opacity: 0; 
    animation: fadeInUp 1s ease-in-out 0s forwards; 
    animation-delay: 1s; 
}

/* Header */
.header {
    text-align: center; 
    width: 80%; 
    margin: auto; 
    height: 40px;
    border-bottom: 1px  rgb(15, 15, 49) solid; 
    line-height: 40px;  
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif; 
}

/* Contact Form */
.form {
 margin-left: 45px;  
 display: block;  
 margin-top: 35px; 
 font-family: Arial, Helvetica, sans-serif; 
}

.form-input{
    margin-bottom: 15px;
    background-color: rgb(175, 200, 238);
    border: white 1px solid; 
    font-family: Arial, Helvetica, sans-serif; 
}

textarea{
    resize: none;
}

#yourmessage{
    width: 70%; 
    height: 65px;
}

#name {
    width: 25%; 
}

#emailaddress {
    width: 35%; 
}

/*Buttons */
.button-style {
    background: transparent;
    border: none;  
    margin-top: 35px; 
    margin-left: 15px; 
    margin-bottom: 10px; 
    font-weight: bold; 
}

.links{
    list-style-type: none; 
    display: flex; 
    

}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none; 
}

.submit-contact:hover{
    background-color: lightblue;
    border: none; 
}

.links-div {
    display: flex; 
    flex-direction: row; 
    margin-top: 53px; 
    position: relative; 
    text-decoration: none; 
}

li {
    margin-right: 35px; 
}

.linkin {
    color: rgb(14, 14, 151); 
}

.git-it {
    color: rgb(163, 52, 52); 
}

.emailz {
    color: rgb(46, 162, 216); 
}

.button-style {
    background: transparent;
    border: none;   
    font-weight: bold; 
    color: grey;
    position: absolute;
    right: 8px; 
    bottom: 8px; 
    font-size: 18px; 

}